{% extends 'base.html' %}


{% block page_title %}
    SITE
{% endblock page_title %}

{% block title %}
    Заполнение формы
{% endblock title %}

{% block body %}
    <div class="col-md-5 pb-5">
        <label>Формы</label>
        <select class="form-control type-row" id="formsList">
            <option disabled selected>Выберите форму</option>
            {% for form in forms %} <option>{{ form }}</option> {% endfor %}
        </select>
        <hr/>
    </div>

    <form method="post">
        {% csrf_token %}
        <input id="formUid" name="formUid" hidden>
        <div id="mainForm"></div>
    </form>
{% endblock body %}

{% block extra_js %}
    <script>
        let formsList = $('#formsList')
        let formUid = $('#formUid')
        let mainForm = $('#mainForm')

        let availableForms = {{ forms | safe }}

        function loadForm(data) {
            let selectHtml = ''
            data.forEach(function(entry) {
                let html = ''
                if (entry[0] === 'select') {
                    if (selectHtml) {
                        selectHtml += '<option>' + entry[1] + '</option>'
                    } else {
                        selectHtml = '<div class="col-md-6 mb-4"><label>' + entry[2] + '</label><div class="form-floating"><select required class="form-select" name="select"><option>' + entry[1] + '</option>'
                    }
                } else {
                    if (selectHtml) {
                        mainForm.append(selectHtml + '<select/><div/><div/>')
                        selectHtml = ''
                    }

                    html = '<div class="col-md-6 mb-4"><label>' + entry[1] + '</label>'

                    if (entry[0] === 'input') {
                        html += '<input required name="input" type="text" class="form-control" placeholder="' + entry[2] + '"></div></div>'
                    } else {
                        html += '<div class="form-floating"><textarea required name="textarea" class="form-control"></textarea><label>' + entry[2] + '</label></div></div>'
                    }
                }
                mainForm.append(html)
            });
            if (selectHtml) {
                mainForm.append(selectHtml + '<div/><div/><select/>')
            }
            mainForm.append('<button type="submit" class="btn btn-dark col-lg-4 mt-3">сохранить</button>')
        }

        formsList.on('change', function () {
            mainForm.empty()
            formUid.val($(this).val())
            loadForm(availableForms[$(this).val()])
        })

    </script>
{% endblock %}
